{#
/**
 * @file analysis.html.twig
 * Default theme implementation to present Analysis data.
 *
 * This template is used when viewing Analysis pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_analysis()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('analysis') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
