{#
/**
 * @file chemical_analysis.html.twig
 * Default theme implementation to present Chemical Analysis data.
 *
 * This template is used when viewing Chemical Analysis pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chemical_analysis()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('chemical_analysis') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
