{#
/**
 * @file method.html.twig
 * Default theme implementation to present Method data.
 *
 * This template is used when viewing Method pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_method()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('method') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
