{#
/**
 * @file sample.html.twig
 * Default theme implementation to present Sample data.
 *
 * This template is used when viewing Sample pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sample()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sample') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
