{#
/**
 * @file sample_type.html.twig
 * Default theme implementation to present Sample Type data.
 *
 * This template is used when viewing Sample Type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sample_type()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sample_type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
